* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 0;
}

header {
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  margin-bottom: 80px;
}

header .btn {
  font-size: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 75vw;
}
